# Server Settings
API_V1_STR="/api/v1"
PROJECT_NAME="ReceiptIQ API"

# Database Settings
DATABASE_URL="sqlite+aiosqlite:///./receiptiq.db"

# CORS
BACKEND_CORS_ORIGINS='["http://localhost", "http://localhost:8080", "http://localhost:3000"]'
